@import url(reset.css);

html{
	font-size: 20px;
	color: #000;
	line-height: 23px;
}

header, footer{
	box-sizing: border-box;
	background-color: #FEB700;
	text-align: center;
	margin: auto;
	padding: calc((160px - 50px)/2); /*55*/
}

main {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 70px;
}

h1 {
	font-size: 2.5em;
	text-transform: uppercase;
}

h2 {
	font-size: 1em;
	font-weight: 700;
}

h3 {
	font-size: 1em;
}

ul li:last-child , p, h2 {
	padding-bottom: 23px;
}

.img1 {
	background-image: url(../img/samosa.png);
	background-size: cover;
	padding-bottom: 150%;
}

.img2 {
	background-image: url(../img/yoghurt.png);
	background-size: cover;
	padding-bottom: 150%;
}

.img3 {
	background-image: url(../img/granola.png);
	background-size: cover;
	padding-bottom: 150%;
}

.column {
	box-sizing: border-box;
	width: calc((100% - 100px)/3);
	border: 1px solid #000;

}

.column .content {
	padding: 30px 33px;
}