@import url(reset.css);

.flex-container{
	height: 300px;
	background-color: blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.flex-item{
	height: 100px;
	width: 300px;
	background-color: orange;
	color: white;
	font-weight: bold;
}

.flex-item.one {
	order: 1;
}

.flex-item.three {
	order: 2;
}