@import url(reset.css);

html {
	box-sizing: border-box;
	font-family: ’Helvetica’, ’Arial’, sans-serif;
	font-size: 20px;
	line-height: 23px;
	font-weight: 500;
}

header, footer {
	background-color: #F8BFC7;
	color: #FFF;
	padding: 33px 50px 34px;
	display: flex;
	justify-content: space-between;
}

header a, footer a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	width: auto;
}

nav ul {
	display: flex;
}

nav ul li {
	margin-left: 20px;
}

nav ul li:first-child {
	margin: 0;
}

.form-bg {
	background-image: url(../img/background.png);
	background-size: cover;
	height: 100%;
	padding: 90px;
}

.form {
	padding: 30px;
	border: 3px solid #FFF;
	color: #FFF;
	width: 234px; 
	border-radius: 30px;
	background-color: #F8BFC7;
}

input {
	display: block;
	font-family: ’Times New Roman’, serif;
	font-size: 20px;
	width: 234px;
	height: 23px;
	background-color: #F8BFC7;
	border: none;
	border-bottom: 1px solid #FFF;
	color: #FFF;
}

input:focus {
	outline: none;
}

input[type="text"], input[type="email"], label {
	display: block;
	margin-bottom: 16px;

}

input[type="email"] {
	margin: 0;
}

input[type="submit"] {
	padding: 14px 32px;
	width: 194px;
	background-color: #FEB700;
	border: 3px solid #FFF;
	color: white;
	text-transform: uppercase;
	font-family: ’Helvetica’, ’Arial’, sans-serif;
	font-weight: 700;
	border-radius: 30px;
	height: 60px;
	cursor: pointer;
	margin: auto;
}

.submit {
	padding-top: 10px;
	width: 300px;
}

.title {
	padding-top: 30px;
	padding-bottom: 114px;
	background-color: #336FD1;
}

h1 {
	color: #FEB700;
	font-size: 50px;
	line-height: 57px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}
